---
---

<div class="row">
  <div class="col-sm-2">
    <div class="spotlight">
    {% if entry._abbr %}
      {% if site.data.venues[entry._abbr] %}
      <abbr class="badge"><a href="{{site.data.venues[entry._abbr].url}}" target="_blank">{{entry._abbr}}</a></abbr>
      {% else %}
      <abbr class="badge">{{entry._abbr}}</abbr>
      {% endif %}
    {% endif %}
    </div>

    <div class="spotlight">
      {% if entry._award %}
        {% if entry._award_link %}
        <award class="badge"><a href="{{entry._award_link}}" target="_blank">{{entry._award}}</a></award>
        {% else %}
        <award class="badge">{{entry._award}}</award>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title"><a href="{{entry.url}}" target="_blank">{{entry.title}}</a></div>
      <div class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em>{{author.first}} {{author.last}}</em>
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <em>{{author.first}} {{author.last}}</em>,
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em>{{author.first}} {{author.last}}</em>
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>{{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </div>
    {% endif %}

    
    <div class="links">
    {% for tag in entry %}
    {% if tag[0] != "_abbr" and tag[0] != "_award" and tag[0] != "_award_link" %}
    {% assign start = tag[0] | slice: 0,1  %}
    {% if start=="_" %}  
    {% assign key = tag[0] | replace: "_", " "  %}
    {% assign value = tag[1]  %}
    {% if value contains '://' %}
      <a href="{{ value }}" class="btn btn-sm z-depth-0" role="button" target="_blank">{{key}}</a>
    {% else %}
      <a href="{{ value | prepend: '/assets/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">{{key}}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}

    
    {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
    {% endif %}

      <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    <div class="bibtex hidden">
      {% assign lines = entry.bibtex |  lstrip | rstrip | newline_to_br | split: '<br />' %}
      {%- highlight bibtex -%}
      {%- for line in lines -%}
        {%- assign start=line | lstrip | slice: 0,1 -%}
        {%- if start != "_" -%}
  {{ line  }}
        {%- endif -%}
      {%- endfor -%}
      {%- endhighlight -%}
    </div>
  </div>
</div>
